
*{
	font-family: Arial;
}

body{
	margin: 0 auto;
}

#div-login{
	width: 400px;
	height: auto;
	margin: 0 auto;
	border:none;
}	

#btn-logar{
	margin-top: 35px;
	width: 100%;
	height:40px;
	border-radius: 5px;
	background-color:#5af;
	color:#fff;
	border:none;
	outline: none;
	font-size: 20px;
}

#btn-logar:hover{
	cursor: pointer;
	/*background-color: #f45;*/
}

h2{
	font-size: 23px;
	text-align: center;
	color:#555;

}

label{
	display: block;
	padding-top: 20px;
	color: #555;
	font-weight: bold;
	font-size: 15px;
}

.txt-login{
	width: 100%;
	height: 30px;
	border-bottom: solid 2px #f45;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	margin-top: 5px;
	font-size: 17px;
	color:#666;
	font-family: Arial;
}

#user{
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	background-position: right;
}

#senha{
	background-image: url(../img/senha.png);
	background-repeat: no-repeat;
	background-position: right;
}

.icon-form{
	float: left;
}