/*FOLHA DE ESTILO PADRÃO DO CMS/CORPO*/

*{
	font-size: 16px;
	font-family: Arial;
	line-height: 10px;
}

a{
	text-decoration: none;
}

body{
	margin: 0 auto;
}

#faixa{
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 202px;
	border: none;
	background-color: #404040;
}

#corpo{
	width: 1000px;
	height: auto;
	border: none;
	margin: 0 auto;
	background-color: #fff;
}

#conteudo{
	float: left;
	width: 100%;
	height: auto;
	border:solid 3px #d9d9d9;
	margin-bottom: 30px;
}

header{
	width: 100%;
	height: 202px;
	border: none;
	background-color: #404040;
}

.logoff{
	width: 150px;
	height: 40px;
	border: none;
	float: right;
	margin-right: 15px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #5af;	
}

.logoff:hover{
	background-color: #f45;
	cursor: pointer;
}

.text-logoff{
	text-align: center;
	margin-top: 10px;
	color: #fff;
	font-size: 19px;
	line-height: 18px;
}

.text-logoff:hover{
	cursor: pointer;
}

#logo{
	width: 500px;
	height: 170px;
	border:none;
	margin-left: 10px;
	margin-top:15px;
	float: left;
	display: block;
	/*background-image: url(../img/logo.png);
	*/background-size: 100%;
	background-color:#fff;
	border-radius:5px;
}

#div-info{
	width: 310px;
	height: 120px;
	float: left;
	border:solid 1px #d9d9d9;
	margin-top: 15px;
	margin-left: 160px;
	background-color: #fff;
	border-radius: 7px;
}

.text-info{
	color:#1874cd;
	font-weight: bold;
	padding-left: 15px;
}

.desc-info{
	color: #000;
	font-family: Arial;
	margin-left: 10px;
	font-size:17px; 
}

/* estilo do menu*/




.item-menu{
	width: 198px;
	height: 50px;
	border: solid 1px #b3b3b3;
	clear: both;
	border-radius: 8px;
	margin-top: 20px;
}

.text-menu{
	font-family: Arial;
	font-size: 20px;
	color: #808080;
	float: left;
	margin-left: 10px;
}

.icon-menu{
	width: 32px;
	height: 32px;
	border:none;
	float: right;
	margin-right: 7px;
	margin-top: 10px;
}

#icon-contato{
	background-image: url(../img/icon-contato.png);
}

#icon-dicas{
	background-image: url(../img/icon-dicas.png);
}

#icon-eventos{
	background-image: url(../img/icon-evento.png);
}

#icon-home{
	background-image: url(../img/icon-home.png);
}
#icon-loja{
	background-image: url(../img/icon-loja.png);
}

#icon-ajuda{
	background-image: url(../img/icon-ajuda.png);
}

#icon-parceiro{
	background-image: url(../img/icon-parceiro.png);
}

#icon-sobre{
	background-image: url(../img/icon-sobre.png);
}

footer{
	width: 80%;
	height: auto;
	border-top: solid 3px #f45;
	margin-left: 100px;
	display: block;
	clear: both;
}

h3{
	color:#0088cc;
	text-align: center;
	font-size: 20px;
}

h2{
	color:#1a8cff;
	text-align: center;
	font-size: 20px;
	display: block;
}


/* ESITILIZAÇAÕ PARA A JANELA MODAL EFEITO JAVA SCRIPT*/

.window{
    display:none;
    width:350px;
    height:220px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    padding:10px;
    border-radius:10px;
}
 
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    background-color:#ccc;
    opacity: 0.6;
}
 
#close{
	background-image: url(../img/close.png);
	width: 30px;
	height: 30px;
	display:block; 
	border:none;
	float: right;
}

.text-sair{
	font-size: 17px;
	line-height: 15px;
	padding-top: 20px;
	color:#4d4d4d;
}


#sim:hover{
	color: #2eb82e;
}

#nao:hover{
	color: #ff0000;
}

.btn-logoff{
	width:25%;
	height: 40px;
	margin-left: 55px;
	margin-top: 30px;
	color:#fff;
	border:none;
	border-radius: 3px;
	background-color: #4d4d4d;
	font-weight: bold;
}

.btn-logoff:hover{
	cursor: pointer;
}


